
<div layout="column" layout-align="center center">
    <h3>Welcome to WhoDidWhat!</h3>

    <div layout="column">
        <div>
            <md-text-float label="Email" type="email" ng-model="email" />
        </div>

        <div>
            <md-text-float label="Password" type="password" ng-model="password" />
        </div>

        <div layout="row" layout-align="left" layout-margin>
            <div flex>
                <md-button ng-click="signIn()" class="md-primary md-raised">Sign In</md-button>
            </div>

            <div flex ng-if="progress">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

        </div>
    </div>
</div>